

<p>
  <b>Name:</b>
  <%= @payment_method.name %>
</p>

<p>
  <b>User:</b>
  <%= @payment_method.user_id %>
</p>


<%= link_to image_tag('document_edit.png', :title => 'edit this'), edit_payment_method_path(@payment_method) %>
<%= link_to image_tag('file_search.png', :title => 'return to list'), payment_methods_path %>
