/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.string input{
	width: 200px;
}

form.formtastic fieldset > ol > li.text textarea{
	width: 200px;
}

form.formtastic fieldset > ol > li.numeric input{
	width: 100px;
	margin-right: 100px;
}

form.formtastic fieldset > ol > li.error > p.inline-errors{
	display: inline;
}

form.formtastic fieldset > ol > li p.inline-errors { 
	color:#cc0000; 
	margin:0.5em 0 0 0; 
	list-style:square;
	width: 300px;
	margin-right: 100px;
	float: right; 
}

form.formtastic fieldset > ol > li.date fieldset ol li label,
form.formtastic fieldset > ol > li.date fieldset ol li,
form.formtastic fieldset > ol > li.date fieldset ol li label input{
	color: red;
	font-weight: normal;
	font-size: 1em;
}

form.formtastic fieldset{
	background-color: #E5ECF9;
	padding: 20px;
	margin-bottom: 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.error {
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
}