

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>


<%= link_to image_tag('document_edit.png', :title => 'edit this'), edit_contact_path(@contact) %>
<%= link_to image_tag('file_search.png', :title => 'return to list'), contacts_path %>
